.comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
}

.comments__button {
    max-width: 150px;
}

.comments__modalwrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}